* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #F3EEE2;
}

body {
	overflow-x: hidden;
}

/* Card 1 start */
.page-frame {
    box-sizing: border-box;
    border: 15px solid #910C32;
	width: 98vw; margin-left: auto; margin-right: auto;
	height: 568px;
}

.girl-img{
    position: absolute;
    top: -46px;
    left: 40%;
    width: 54px;
    background-color: transparent;
}

.outer-frame {
    border: 5px solid black;
    background-color: rgba(152, 191, 204, 0.69);
    width: 80%;
    height: 56%;
    margin: 0 auto;
    position: relative;
    top: 16%;
}

.page-frame p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    width: 100%;
    position: absolute;
}

/* Tomomi Oki */
.inner-frame {
	border: 5px solid black;
	background-color: #F3EEE2 !important;
	width: 90%;
	height: 231px;
	margin: 0 auto;
	position: relative;
	top: 8%;
	background: url('/assets/name.png') no-repeat 10% -3px;
	background-size: 103px;
}

.inner-frame p {
    transform: rotate(90deg);
    font-size: 30px;
    width: 231px;
    right: -54px;
	top: 36%;
	padding-bottom: 24px;
	border-bottom: 5px solid black;
}

/* Full Stack Developer */
.outer-frame > p {
    bottom: 9px;
}

/* Card 1 end */



/* Card 2 start */
.page-frame-2 {
    box-sizing: border-box;
    border: 15px solid #1C486B;
    width: 98vw; margin-left: auto; margin-right: auto;
    min-height: 568px;
    position: relative;
    overflow: hidden;
}

.tsubaki-positioner {
    background-color: transparent;
    width: 70%;
    height: 107px;
    margin: 0 auto;
    position: relative;
    top: 17px;
    left: -55px;
}

.tsubaki {
    transform: rotate(-2deg);
    width: 189px;
    position: relative;
    top: -60px;
    left: -36px;
    background-color: transparent;
    z-index: 1;
    
}

.inner-frame-2 {
    border: 5px solid black;
    background-color: transparent;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: -70px;
    z-index: 0;
}

.bg-jiko {
    background-image: url('/assets/jiko2.png');
    background-repeat: no-repeat;
    background-position: 50% -3px;
    background-size: 98px;
    width: 70%;
    height: 100%;
    border-right: 5px solid black;
    background-color: transparent;
}

/* About me */
.inner-frame-2 > p {
    font-family: 'Rubik', sans-serif;
    transform: rotate(90deg);
    width: 170px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    right: -54px;
    top: 41%;
    background-color: transparent;
}

.fix-random-space {
    /* border: 2px solid red; */
    margin-top: -40px;
    height: 2px;
}

.col-right > p {
	text-shadow: 1px 1px 4px rgba(77, 77, 77, 0.3);
    font-size: 16px;
    line-height: 1.4;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 11px; 
}

.col-right > p:last-child {
    margin-bottom: 1em;
}
/* Card 2 end */




/* Card 3 start */
.page-frame-3 {
    box-sizing: border-box;
    border: 15px solid #928C36;
    width: 98vw; margin-left: auto; margin-right: auto;
    height: 568px;
    position: relative;
    /* background: url(/assets/hagi.png) no-repeat bottom right;
    background-size: 150px;     */
}

.hagi {
	display: block;
	width: 50%;
	max-width: 200px;
	/* max-height: 300px; */
	position: absolute;
	right: 0;
	bottom: 50px;
	background-color: transparent;
}

.inner-frame-3 {
    border: 5px solid black;
    background-color: transparent;
    width: 70%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 16px;
}

.bg-skills {
    background-image: url('/assets/ginou.png');
    background-repeat: no-repeat;
    background-position: -3px -2px;
    background-size: 150px;
    width: 100%;
    height: 63px;
    border-bottom: 5px solid black;
    background-color: transparent;
}        

/* Skills */
.inner-frame-3 > p {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 0; 
    left: 14px;
    background-color: transparent;
}

ul, li {
    background-color: transparent;
}

.page-frame-3 ul {
    list-style: none;
    padding-top: 10px;
	line-height: 2em;
	text-shadow: 1px 1px 4px rgba(77, 77, 77, 0.3);
	
}

.page-frame-3 li a {
    color: #928C36;
    font-weight: bold;
    text-decoration: underline;
    /* text-decoration-color: #928C36; */
    text-decoration-skip: ink;
    transition: all .5s;
}

.page-frame-3 li a:hover {
    color: #C90E19;
    
    text-decoration: none;
    font-weight: bold;
}
/* Card 3 end */




/* Card 4 start */
.page-frame-4 {
    box-sizing: border-box;
    border: 15px solid #9E452A;
    width: 98vw; margin-left: auto; margin-right: auto;
    min-height: 568px;
    position: relative;
    overflow: hidden;
}

.fuji-positioner {
    background-color: transparent;
    height: 140px;
}

.fuji-left {
    width: 30%;
    max-width: 120px;
    float: left;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.fuji-right {
	width: 32%;
    max-width: 116px;
    float: right;
    position: relative;
    top: -10px;
    right: -30px;
    z-index: 1;
	/* transform: scaleX(-1) !important; */
    background-color: transparent;
}

.inner-frame-4 {
    border: 5px solid black;
    background-color: transparent;
    width: 70%;
    height: 137px;
    margin: 0 auto;
    position: relative;
    top: -79px;
    z-index: 0;
}

/* Projects */
.inner-frame-4 > p {
    font-family: 'Rubik', sans-serif;
    transform: rotate(90deg);
    width: 170px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    right: -54px;
    top: 41%;
    background-color: transparent;
}

.bg-project {
    background-image: url('/assets/kikaku.png');
    background-repeat: no-repeat;
	background-position: 50% -2px;
	background-size: 82px;
	
    width: 70%;
    height: 100%;
    border-right: 5px solid black;
    background-color: transparent;
}

.separater {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	padding-bottom: 2em;
	text-shadow: 1px 1px 4px rgba(77, 77, 77, 0.3);
}

.separater p {
	border-bottom: 5px solid transparent;
}

.page-frame-4 .separater span {
	font-size: 16px;
	padding-right: 10px;
}

.page-frame-4 .separater a {
	color: #333;
    text-decoration: underline;
	text-decoration-skip: ink;
    transition: color .5s;
}

.page-frame-4 .separater a:hover {
    color: #D44E47;
    text-decoration: none;
}
/* Card 4 end */




/* Card 5 start */
.page-frame-5 {
    box-sizing: border-box;
    border: 15px solid #55295B;
    width: 98vw; margin-left: auto; margin-right: auto;
    height: 568px;
	position: relative;

}

.tsuru {
	width: 160px;
	position: absolute;
	bottom: 1px;
	left: 2px;
	/* z-index: -1; */
	/* border: 2px solid red; */
}

.tsuru img {
	width: 100%;
	position:absolute;
	bottom: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.tsuru img.tsuru-r {
animation-name: tsuru-move;
animation-timing-function: step-end;
animation-iteration-count: 4;
animation-duration: 3s;
animation-direction: alternate;
}

@keyframes tsuru-move {
	0% {
	opacity:1;
  }
  45% {
  opacity:1;
  }
  50% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
  }

.inner-frame-5 {
    border: 5px solid black;
    background-color: transparent;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 16px;
}

.bg-contact {
	background: url('/assets/toiawase.png') no-repeat 50% 43%;
	background-size: 144px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 63px;
    border-bottom: 5px solid black;
    background-color: transparent;
    /* border: 1px solid red; */
}

/* Contact */
.inner-frame-5 > p {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    background-color: transparent;
}

form {
    max-width: 70%;
    margin: 10px auto 0 auto;
    background-color: transparent;
    /* border: 1px solid pink; */
}

input, textarea {
    font-size: 1em;
    display: block;
    width: 96%;
    margin: .5em auto;
    padding: 5px 0px 5px 12px;
	border: 1px solid #bbb;
	background-color: rgba(243, 238, 226, 0.51);
	position: relative;
	z-index: 1;
}

input:focus, textarea:focus {
    outline: none;
    border:1px solid #78A248;
    box-shadow: 0 0 6px #78A248;
}

textarea {
    height: 160px;
}


input[type="submit"] {
    color: white;
    font-weight: normal;
    float: right;
    width: 117px;
    background-color: #78A248;
	padding-right: 7px;
	position: relative;
	z-index: 1;
}

input[type="submit"]:hover {
    /* color: red; */
    font-weight: normal;
    float: right;
    width: 117px;
    background-color: #78A248;
    animation: pulse 2s infinite;
}

@keyframes pulse  
{
    0% {background-color: #78A248;} 
    50% {background-color: #3B610F;}
    100% {background-color: #78A248;}
}

.form-container {
	background-color: transparent;
}
/* Card 5 end */





/* Top menu is for desktop view only */
.menu {
	display: none;
}

.nav {
	display: none;
}

/* Footer */
footer {
	width: 113px;
	margin-left: auto;
	margin-right: auto;
	/* border: 2px solid red; */
}

footer a {
	text-decoration: none;
}

#git {
	background: url(/assets/git.png) no-repeat;
	background-size: 100%;
	display: inline-block;   
	margin-right: 12px;
	height: 48px;   
	width: 48px;   
	text-indent: -9999px; 
}

#git:hover {
	background-position: 0 -48px;
}

#linkedin {
	background: url(/assets/linkedin.png) no-repeat;
	background-size: 100%;
	display: inline-block;   
	height: 48px;   
	width: 48px;   
	text-indent: -9999px; 
}

#linkedin:hover {
	background-position: 0 -48px;
}

.space-wide {
    margin: 30vh 0;
}

.space-narrow {
    margin: 4vh 0;
}






/* Desktop view */
@media (min-width: 1024px) {
			/* Card 1 start */
			.girl-img {
				position: absolute;
				top: -60px;
				left: 40%;
				width: 69px;
				background-color: transparent;
			}

			.page-frame {
				box-sizing: border-box;
				border: 30px solid #910C32;
				width: 99vw;
				height: 568px;
				margin: 0 auto;
			}	
			
			.page-frame p {
				font-family: 'Rubik', sans-serif;
				font-weight: 500;
				text-align: center;
				background-color: transparent;
				width: 100%;
				position: absolute;
			}

			.outer-frame {
				border: 5px solid black;
				background-color: rgba(152, 191, 204, 0.69);
				width: 24%;
				height: 59.5%;
				float: left;
				left: 10%;
				top: 20%;
			}		
			
			/* Full Stack Developer */
			.outer-frame > p {
				bottom: 9px;
			}
			
			.inner-frame {
				border: 5px solid black;
				background-color: #F3EEE2;
				width: 90%;
				height: 76%;
				margin: 0 auto;
				position: relative;
				top: 8%;
			}
			
			/* Tomomi Oki */
			.inner-frame p {
				padding-bottom: 10px;
				transform: rotate(90deg);
				font-size: 30px;
				width: 235px;
				right: -27%;
				top: 40%;
				/* transform: translate(-50%, -50%) */
				/* margin-bottom: -100px; */
				border-bottom: 5px solid black;
			}	
	
			.menu {
				float: right;
				position: relative;
				/* top: 23%; */
				width: 50%;
				height: 100%;
				display: block;
				border-left: 1px solid #DCD2C2;
			}

			.menu ul {
				list-style: none;
				position: absolute;
				top: 50%;
				transform: translate(65%, -50%);
			}
			
			.menu li a {
				font-family: 'Rubik', sans-serif;
				font-size: 35px;
				line-height: 2;
				text-decoration-skip: ink;
				text-decoration-color: rgba(152, 191, 204, 0.69);
				color: #333;
				transition: color .3s;
			}

			.menu li a:hover {
				text-decoration: none;
				color: #A1110D
			}
			/* Card 1 end */   





				/* Card 2 start */
			.page-frame-2 {
				box-sizing: border-box;
				border: 30px solid #1C486B;
				width: 99vw;
				margin-left: auto;
				margin-right: auto;
				min-height: 568px;
				position: relative;
				overflow: hidden;
			}

			.tsubaki-positioner {
				background-color: transparent;
				width: 29%;
				float: left;
				top: 50px;
				left: 13%;
			}

			.tsubaki {
				transform: rotate(-3deg);
				width: 300px;
				position: relative;
				background-color: transparent;
				left: -153px;
				top: -50px;
				z-index: 1;
			}


			.inner-frame-2 {
				border: 5px solid black;
				background-color: transparent;
				width: 29%;
				height: 232px;
				float: left;
				position: absolute;
				top: 130px;
				left: 13%;
				z-index: 0;
			}

			.bg-jiko {
				background-image: url('/assets/jiko2.png');
				background-repeat: no-repeat;
				background-position: 50% -4px;
				background-size: 151px;
				width: 70%;
				height: 100%;
				border-right: 5px solid black;
				background-color: transparent;
			}

			/* About me */
			.inner-frame-2  p {
				font-family: 'Rubik', sans-serif;
				transform: rotate(90deg);
				width: 173px;
				font-size: 37px;
				font-weight: 500;
				text-align: center;
				position: absolute;
				right: -46px;
				top: 41%;
				background-color: transparent;
			}

			.fix-random-space {
				/* border: 2px solid red; */
				margin-top: -40px;
				height: 2px;
			}

			.col-right {
				height: 100%;
				float: right;
				border-left: 1px solid #DCD2C2;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
			}
			
			.col-right p {
				font-size: 17px;
				padding: 10px 35px;
				/* margin: 15px 0; */
			}

			.col-right p:first-child {
				margin-top: 6em;
			}

			.page-frame-2 > p:last-child {
				margin-bottom: 1em;
			}

			.nav {
				display: block;
				position: absolute;
				bottom: 3px;
				right: 10px;
			}

			.nav span {
				margin: 0 10px;
			}
			
			.nav a {
				font-size: 19px;
				color: #333;
				text-decoration-skip: ink;
				text-decoration-color: #333;
			}

			.nav a:hover {
				text-decoration: none;
			}
			/* Card 2 end */



			/* Card 3 start */
			.page-frame-3 {
				box-sizing: border-box;
				border: 30px solid #928C36;
				width: 99vw;
				margin-left: auto;
				margin-right: auto;
				height: 568px;
				position: relative;
				background: url() ;
				/* background-size: 240px; */
				/* background-position: right 70%; */
			}

			.hagi {
				display: block;
				width: 190px;
				position: absolute;
				right: 0;
				bottom: 50px;
				background-color: transparent;
			}


			.inner-frame-3 {
				border: 5px solid black;
				background-color: transparent;
				width: 28%;
				height: 160px;
				left: 8%;
				position: absolute;
				top: 50%; 
				transform: translate(0%, -50%);
			}

			.bg-skills {
				background-image: url('/assets/ginou.png');
				background-repeat: no-repeat;
				background-size: 250px;
				background-position: 50% 50%;
				width: 100%;
				height: 67%;
				border-bottom: 5px solid black;
				background-color: transparent;
			}        

			/* Skills */
			.inner-frame-3 p {
				font-family: 'Rubik', sans-serif;
				font-size: 30px;
				font-weight: 500;
				text-align: center;
				position: relative;
				/* width: inherit; */
				top: 5px; 
				left: 0;
				background-color: transparent;
			}

			ul, li {
				background-color: transparent;
			}
			
			.page-frame-3 ul {
				height: 98%;
				float: right;
				border-left: 1px solid #DCD2C2;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
			}
			
			.page-frame-3 li {
				font-size: 20px;
				line-height: 2em;
				/* padding-left: 30%; */
				/* border: 2px solid coral; */
			}

			.page-frame-3 li:first-child {
				padding-top: 1em;
			}

			.page-frame-3 li a {
				color: #928C36;
				font-weight: bold;
				text-decoration: underline;
				/* text-decoration-color: #928C36; */
				text-decoration-skip: ink;
				transition: color .5s;
			}

			.page-frame-3 li a:hover {
				color: #C90E19;
				text-decoration: none;
				font-weight: bold;
			}
			/* Card 3 end */




			/* Card 4 start */
			.page-frame-4 {
				box-sizing: border-box;
				border: 30px solid #9E452A;
				width: 99vw;
				margin-left: auto;
				margin-right: auto;
				min-height: 568px;
				position: relative;
				overflow: hidden;
			}

			.fuji-positioner {
				background-color: transparent;
				height: 140px;
			}
			
			.fuji-left {
				width: 16%;
				max-width: 200px;
				float: left;
				position: relative;
				z-index: 1;
				background-color: transparent;
			}
			
			.fuji-right {
				width: 17%;
				max-width: 300px;
				float: right;
				position: relative;
				top: -16px;
				z-index: 1;
				transform: scaleX(-1);
				background-color: transparent;
			}
			
			.inner-frame-4 {
				border: 5px solid black;
				background-color: transparent;
				width: 29%;
				height: 232px;
				float: left;
				position: absolute;
				top: 130px;
				left: 13%;
				z-index: 0;
			}	
			
			.bg-project {
				background-image: url('/assets/kikaku.png');
				background-repeat: no-repeat;
				background-position: 50% -2px;
				background-size: 138px;
				width: 70%;
				height: 100%;
				border-right: 5px solid black;
				background-color: transparent;
			}	

			/* Projects */
			.inner-frame-4  p {
				font-family: 'Rubik', sans-serif;
				transform: rotate(90deg);
				width: 173px;
				font-size: 37px;
				font-weight: 500;
				text-align: center;
				position: absolute;
				right: -46px;
				top: 41%;
				background-color: transparent;
			}	

			.fix-random-space {
				margin-top: -40px;
				height: 2px;
			}	
			
			.page-frame-4 .col-right .separater p {
				font-size: 23px;
				width: 400px;
				padding: 10px 0;
				margin: 0;
				position: relative;
			}			
			
			.separater:first-child {
				margin-top: 22%;
			}
			
			.separater a {
				font-size: 20px;
				/* color: #333; */
				transition: color 0.4s;
			}			

			.page-frame-4 .col-right .separater a:hover {
				text-decoration: none;
				color: #9E452A;
			}		
			
			.separater span {
				margin-right: 1em;
			}
			/* Card 4 end */




			/* Card 5 start */
			.page-frame-5 {
				box-sizing: border-box;
				border: 30px solid #55295B;
				width: 99vw;
				margin-left: auto;
				margin-right: auto;
				min-height: 568px;
				position: relative;
				overflow: hidden;
			}

			.tsuru {
				width: 240px;
				position: absolute;
				bottom: -11px;
				left: -20px;
				/* z-index: -1; */
				/* border: 2px solid red; */
			}

			.inner-frame-5 {
				border: 5px solid black;
				background-color: transparent;
				width: 28%;
				height: 160px;
				left: 8%;
				position: absolute;
				top: 50%; 
				transform: translate(0%, -50%);
			}

			.bg-contact {
				background: url('/assets/toiawase.png') no-repeat 50% 40%;
				background-size: 250px;
				width: 100%;
				height: 67%;
				border-bottom: 5px solid black;
				background-color: transparent;
			}        

			/* Contact */
			.inner-frame-5 p {
				font-family: 'Rubik', sans-serif;
				font-size: 30px;
				font-weight: 500;
				text-align: center;
				position: relative;
				top: 5px; 
				left: 0;
				background-color: transparent;
			}

			.form-container {
				box-sizing: border-box;
				border-left: 1px solid #DCD2C2;
				width: 50%;
				height: 100%;
				float: right;
				margin-top: -20px;
				padding: 0;
			}

			form {
				position: relative;
				top: 45%;
				transform: translate(0%, -50%);
			}

			textarea {
				height: 190px;
			}
			
			/* Card 5 end */
			
}

